<md-card class="page-title">
  <md-card-title>
    <md-icon>languages</md-icon>
    languages
  </md-card-title>
</md-card>
<md-card class="text-card">
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let language of languageItems">
        <md-icon md-list-icon>languages</md-icon>
        <h4 md-line>{{language.title}}</h4>
        <p md-line>
          <md-progress-bar
            class="example-margin"
            color="primary"
            mode="determinate"
            value="{{language.level}}">
          </md-progress-bar>
        </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
<md-card class="page-title">
  <md-card-title>
    <md-icon>school</md-icon>
    certificates
  </md-card-title>
</md-card>
<app-cv-item *ngFor="let item of certificationItems" [cvItem]="item"></app-cv-item>
<md-card class="page-title">
  <md-card-title>
    <md-icon>school</md-icon>
    education
  </md-card-title>
</md-card>
<app-cv-item *ngFor="let item of educationItems" [cvItem]="item"></app-cv-item>
