<mat-toolbar color="primary" class="header">
  <app-pdf color="default" *ngIf="windowWidth >= 500"></app-pdf>
  <span class="header-menu" *ngIf="windowWidth < 800">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item
         *ngFor="let link of navLinks"
         routerLink="{{link.location}}"
         routerLinkActive #rla="routerLinkActive">
        <mat-icon>{{link.icon}}</mat-icon>
        <span>{{link.label | uppercase}}</span>
      </a>
    </mat-menu>
  </span>
  <a href="/" class="header-title" *ngIf="generalData !== undefined && generalData.name !== undefined && generalData.name !== ''">
    {{generalData.name}}
  </a>
</mat-toolbar>

<nav mat-tab-nav-bar *ngIf="windowWidth >= 800">
  <a mat-tab-link
     *ngFor="let link of navLinks"
     routerLink="{{link.location}}"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    <mat-icon>{{link.icon}}</mat-icon>
    <span>{{link.label | uppercase}}</span>
  </a>
</nav>
