md-toolbar.header {
  position: fixed;
  margin-top: 0;
  min-width: 750px;
  width: 750px;
  max-width: 750px;
  min-height: 64px;
  height: 64px;
  max-height: 64px;
  top: 0;
  padding-left: 24px;
  font-size: 1em;
  z-index: 1000;
}

a {
  color: white;
  text-decoration: none;
}
