<mat-toolbar color="primary" class="header">
  @if (windowWidth >= 500) {
    <app-pdf color="default"></app-pdf>
  }
  @if (windowWidth < 800) {
    <span class="header-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @for (link of navLinks; track link) {
          <a mat-menu-item
            routerLink="{{link.location}}"
            routerLinkActive #rla="routerLinkActive">
            <mat-icon>{{link.icon}}</mat-icon>
            <span>{{link.label | uppercase}}</span>
          </a>
        }
      </mat-menu>
    </span>
  }
  @if (generalData !== undefined && generalData.name !== undefined && generalData.name !== '') {
    <a href="/" class="header-title">
      {{generalData.name}}
    </a>
  }
</mat-toolbar>

@if (windowWidth >= 800) {
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of navLinks; track link) {
      <a mat-tab-link
        routerLink="{{link.location}}"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        <span>{{link.label | uppercase}}</span>
      </a>
    }
  </nav>
}
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
