mat-toolbar.footer {
  position: fixed;
  margin-bottom: 0;

  /* to be synced with body<->header<->footer style */
  min-width: 250px;
  /*width: 800px;*/
  max-width: 800px;

/*  min-height: 64px;
  height: 64px;
  max-height: 64px;*/

  bottom: 0;
  padding-left: 24px;
  font-size: 1em;
}

@media screen and (max-width: 400px) {
  mat-toolbar.footer {
    min-height: 48px;
    height: 48px;
    max-height: 48px;
    font-size: 0.8em;
  }

  span.copyright {
    margin-top: -4px;
  }
}

mat-toolbar.footer a {
  position: absolute;
  right: 24px;
  top: 12px;
}

mat-toolbar.footer img {
  height: 36px;
}

@media screen and (max-width: 600px) {
  mat-toolbar.footer img {
    height: 30px;
  }
}

@media screen and (max-width: 400px) {
  mat-toolbar.footer img {
    height: 24px;
  }
}

a {
  color: white;
  text-decoration: none;
}

.copyright {
  text-align: center;
  margin: auto;
}

app-l10n {
  position: absolute;
  float: left;
  color: black;
}
