.text-card img {
  float: right;
  margin-left: 15px;
  margin-bottom: 0;
}

@media screen and (max-width: 400px) {
  .text-card img {
    float: none;
    margin-left: 0;
    margin-bottom: 12px;
  }
}

.text-card i.button-icon {
  position: relative;
  font-size: 1.4em;
  top: -0.1em;
  margin-right: 0.2em;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 0;
}

.tag-icon {
  margin-left: -5px;
  font-size: 1.5em;
  padding-right: 5px;
}
.tag-icon:before {
  color: unset;
}
