<mat-card class="text-card">
  <img src="assets/img/AngularCV.png" width="150px" alt="AngularCV Logo"/>
  <mat-card-title>Sobre esta página</mat-card-title>
  <mat-card-subtitle>AngularCV: Un CV simple y autohospedado</mat-card-subtitle>
  <mat-card-content>
    <p>
	  Esta página web ha sido creada como un proyecto de GitHub con el propósito de tener un CV en línea que pudiera ser alojado por cualquiera en su servidor.
	  Aun así, el público principal a quien está dirigido es a los desarrolladores de software.
	  Para construirlo, se han utilizado básicamente las siguientes tecnologías:
    </p>
    <mat-chip-list selectable="false">
      <mat-chip>Angular</mat-chip>
      <mat-chip>Material Design</mat-chip>
      <mat-chip>GitHub</mat-chip>
      <mat-chip>CSS</mat-chip>
      <mat-chip>TypeScript</mat-chip>
      <mat-chip>JetBrains WebStorm</mat-chip>
      <mat-chip>AWS</mat-chip>
    </mat-chip-list>
    <p>Además, también se han incluído las siguientes fuentes de terceros:</p>
    <mat-chip-list selectable="false">
      <mat-chip>IcoMoon icon font</mat-chip>
      <mat-chip>Roboto font</mat-chip>
      <mat-chip>Roboto Slab font</mat-chip>
      <mat-chip>jsPDF</mat-chip>
    </mat-chip-list>

  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="primary" href="https://github.com/StegSchreck/AngularCV" target="_blank">
      <i class="icon-github"></i>
      VER PROYECTO EN GITHUB
    </a>
  </mat-card-actions>
  
  	    <p>
	  La traducción al castellano y adaptación de la app corre a cargo de Pelayo García.
    </p>
</mat-card>
