<mat-card class="text-card">
  <img src="assets/img/AngularCV.png" width="150px" alt="AngularCV Logo"/>
  <mat-card-title>About this page</mat-card-title>
  <mat-card-subtitle>AngularCV: a simple self-hosted online-CV</mat-card-subtitle>
  <mat-card-content>
    <p>
      This website was created as a GitHub project for the purpose of having a basic online-CV, which anyone can host by themselves.
      The main target audience are software developers though.
      To build this, basically the following technologies are used:
    </p>
    <mat-chip-list selectable="false">
      <mat-chip>Angular</mat-chip>
      <mat-chip>Material Design</mat-chip>
      <mat-chip>GitHub</mat-chip>
      <mat-chip>CSS</mat-chip>
      <mat-chip>TypeScript</mat-chip>
      <mat-chip>JetBrains WebStorm</mat-chip>
      <mat-chip>AWS</mat-chip>
    </mat-chip-list>
    <p>Additionally, the following third party sources are included:</p>
    <mat-chip-list selectable="false">
      <mat-chip>IcoMoon icon font</mat-chip>
      <mat-chip>Roboto font</mat-chip>
      <mat-chip>Roboto Slab font</mat-chip>
      <mat-chip>jsPDF</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="primary" href="https://github.com/StegSchreck/AngularCV" target="_blank">
      <i class="icon-github"></i>
      VIEW PROJECT ON GITHUB
    </a>
  </mat-card-actions>
</mat-card>
