.text-card md-card-content {
  margin-left: 8px;
}
.text-card img {
  float: right;
  margin-left: 25px;
  margin-bottom: 25px;
}
.text-card i {
  position: relative;
  font-size: 1.4em;
  top: -0.1em;
  margin-right: 0.2em;
}
.text-card md-chip {
  margin-bottom: 2em;
}
