<mat-card class="cv-card closed" *ngIf="cvItem">
  <span class="cv-thumbnail">
    <img src="assets/img/item-thumbnails/{{cvItem.thumbnail}}" width="100px" *ngIf="cvItem.thumbnail !== undefined && cvItem.thumbnail !== ''">
    <span class="vertical-divider"></span>
  </span>
  <span class="timespan">
    <span class="timespan-begin" *ngIf="cvItem.begin !== undefined && cvItem.begin !== ''">
      {{cvItem.begin}}
      <mat-icon>arrow_forward</mat-icon>
    </span>
    <span class="timespan-end" *ngIf="cvItem.end !== undefined && cvItem.end !== ''">{{cvItem.end}}</span>
    <span class="timespan-end" *ngIf="!(cvItem.end !== undefined && cvItem.end !== '')">hoy <mat-icon>access_time</mat-icon></span>
  </span>
  <mat-card-header>
    <mat-card-title>{{cvItem.title}}</mat-card-title>
    <mat-card-subtitle>{{cvItem.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="cvItem.description !== undefined && cvItem.description !== ''">
      {{cvItem.description}}
    </p>
    <mat-chip-list selectable="false" *ngIf="cvItem.tags !== undefined && cvItem.tags !== [] && cvItem.tags.length > 0">
      <mat-chip *ngFor="let tag of cvItem.tags">{{tag}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>

  <button mat-icon-button class="toggle-details" color="primary" (click)="toggleDetails($event)"
          *ngIf="(cvItem.description !== undefined && cvItem.description !== '')
           || (cvItem.tags !== undefined && cvItem.tags !== [] && cvItem.tags.length > 0)
           || cvItem.link !== undefined && cvItem.link !== ''
           || cvItem.attachment !== undefined && cvItem.attachment !== ''">
    <mat-icon aria-label="toggle details"></mat-icon>
  </button>
  <mat-card-actions>
    <a mat-button color="primary" href="{{cvItem.link}}" target="_blank" *ngIf="cvItem.link !== undefined && cvItem.link !== ''">
      <mat-icon>link</mat-icon>
      VER ENLACE
    </a>
    <a mat-button color="primary" href="assets/attachments/{{cvItem.attachment}}" target="_blank" *ngIf="cvItem.attachment !== undefined && cvItem.attachment !== ''">
      <mat-icon>attachment</mat-icon>
      VER FICHERO ADJUNTO
    </a>
  </mat-card-actions>
</mat-card>
