md-card {
  margin-bottom: 1em;
  min-height: 100px;
}
md-card-header,
md-card-actions,
md-card-content {
  margin-left: 142px;
}
md-card-content {
  padding-left: 8px;
}
md-card-subtitle {
  font-size: 1.2em;
}
md-card-title {

}
img.cv-thumbnail {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 100px;
  margin-bottom: 24px;
  margin-right: 24px;
}
.vertical-divider {
  position: absolute;
  border-left: 2px solid #888;
  top: 24px;
  left: 148px;
  bottom: 24px;
}
.toggle-details {
  position: absolute;
  right: 24px;
  bottom: 12px;
  font-size: 1em;
  float:right;
}
.toggle-details md-icon {
  position: absolute;
  top: 0.2em;
  left: 0;
  font-size: 3em;
}

md-card.opened md-card-content,
md-card.opened md-card-actions {
  /*display: block;*/
  max-height: 500px;
  position: static;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear, max-height 0.25s ease-in;
  overflow: hidden;
}

md-card.closed md-card-content,
md-card.closed md-card-actions {
  /*display: none;*/
  max-height: 0;
  position: static;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear, max-height 0.15s ease-out;
  overflow: hidden;
}

md-card.opened md-card-actions {
  margin-bottom: 0;
}

md-card.opened .toggle-details md-icon:before {
  content: 'expand_less';
}
md-card.closed .toggle-details md-icon:before {
  content: 'expand_more';
}

.timespan {
  padding-left: 150px;
  position: relative;
  top: -6px;
  color: #888;
}
.timespan md-icon {
  position: relative;
  top: 6px;
  font-size: 1.5em;
}
@media screen and (min-width: 750px) {
  .timespan {
    color: #888;
    position: absolute;
    right: 24px;
    top: 18px;
  }
  md-card-title {
    padding-right: 9em;
    top: 24px;
  }
}

md-chip {
  margin-bottom: 0.5em !important;
}

a[md-button] {
  text-transform: uppercase;
}
