<md-card class="cv-card closed" *ngIf="cvItem">
  <img class="cv-thumbnail" src="assets/img/item-thumbnails/{{cvItem.thumbnail}}" *ngIf="cvItem.thumbnail !== undefined && cvItem.thumbnail !== ''">
  <span class="vertical-divider"></span>
  <md-card-header>
    <span class="timespan">
      <span class="timespan-begin" *ngIf="cvItem.begin !== undefined && cvItem.begin !== ''">
        {{cvItem.begin}}
        <md-icon>arrow_forward</md-icon>
      </span>
      <span class="timespan-end" *ngIf="cvItem.end !== undefined && cvItem.end !== ''">{{cvItem.end}}</span>
      <span class="timespan-end" *ngIf="!(cvItem.end !== undefined && cvItem.end !== '')">now <md-icon>access_time</md-icon></span>
    </span>
    <md-card-title>{{cvItem.title}}</md-card-title>
    <md-card-subtitle>{{cvItem.subtitle}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p *ngIf="cvItem.description !== undefined && cvItem.description !== ''">
      {{cvItem.description}}
    </p>
    <md-chip-list selectable="false" *ngIf="cvItem.tags !== undefined && cvItem.tags !== [] && cvItem.tags.length > 0">
      <md-chip *ngFor="let tag of cvItem.tags">{{tag}}</md-chip>
    </md-chip-list>
  </md-card-content>

  <button md-icon-button class="toggle-details" color="primary" (click)="toggleDetails($event)"
          *ngIf="(cvItem.description !== undefined && cvItem.description !== '')
           || (cvItem.tags !== undefined && cvItem.tags !== [] && cvItem.tags.length > 0)
           || cvItem.link !== undefined && cvItem.link !== ''
           || cvItem.attachment !== undefined && cvItem.attachment !== ''">
    <md-icon aria-label="toggle details"></md-icon>
  </button>
  <md-card-actions>
    <a md-button color="primary" href="{{cvItem.link}}" target="_blank" *ngIf="cvItem.link !== undefined && cvItem.link !== ''">
      <md-icon>link</md-icon>
      VIEW LINK
    </a>
    <a md-button color="primary" href="assets/attachments/{{cvItem.attachment}}" target="_blank" *ngIf="cvItem.attachment !== undefined && cvItem.attachment !== ''">
      <md-icon>attachment</md-icon>
      VIEW ATTACHED FILE
    </a>
  </md-card-actions>
</md-card>
