<md-card class="cv-card" *ngIf="cvItem">
  <!--<img class="cv-thumbnail" src="assets/img/item-thumbnails/{{cvItem.thumbnail}}" *ngIf="cvItem.thumbnail !== undefined && cvItem.thumbnail !== ''">-->
  <img class="cv-thumbnail" src="http://placehold.it/100x100/DC143C/FFFFFF">
  <span class="vertical-divider"></span>
  <md-card-header>
    <md-card-title>{{cvItem.title}}</md-card-title>
    <md-card-subtitle>{{cvItem.subtitle}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p *ngIf="cvItem.description !== undefined && cvItem.description !== ''">
      {{cvItem.description}}
    </p>
    <md-chip-list selectable="false" *ngIf="cvItem.tags !== undefined && cvItem.tags !== []">
      <md-chip *ngFor="let tag of cvItem.tags">{{tag}}</md-chip>
    </md-chip-list>
  </md-card-content>
  <md-card-actions>
    <a md-button color="primary" href="cvItem.link" target="_blank" *ngIf="cvItem.link !== undefined && cvItem.link !== ''">
      <md-icon>link</md-icon>
      VIEW LINK
    </a>
  </md-card-actions>
</md-card>
