mat-card.cv-download app-pdf {
  position: absolute;
  right: 16px;
  top: 12px;
  float: right;
  color: black;
}

@media screen and (max-width: 600px) {
  mat-card.cv-download app-pdf {
    right: 12px;
  }
}

@media screen and (max-width: 400px) {
  mat-card.cv-download app-pdf {
    top: 9px;
  }
}

mat-card.cv-download {
  min-height: 30px;
  padding-right: 90px;
}

@media screen and (max-width: 600px) {
  mat-card.cv-download {
    padding-right: 66px !important;
  }
}

mat-card.cv-download mat-card-title {
  position: relative;
  top: 10px;
}
