<md-card class="page-title">
  <md-card-title>
    <md-icon>email</md-icon>
    {{title}}
  </md-card-title>
</md-card>
<md-card class="text-card">
  <md-card-title>General</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item>
        <md-icon md-list-icon>place</md-icon>
        <h4 md-line>Berlin</h4>
        <p md-line> Germany </p>
      </md-list-item>
      <!--<md-list-item>
        <md-icon md-list-icon>phone</md-icon>
        <h4 md-line>phone</h4>
        <p md-line> 0123456789 </p>
      </md-list-item>-->
      <md-list-item>
        <md-icon md-list-icon>email</md-icon>
        <h4 md-line>mail</h4>
        <p md-line> sebastian@schreck.berlin </p>
      </md-list-item>
      <!--<md-list-item>
        <i md-list-icon class="icon-skype"></i>
        <h4 md-line>skype</h4>
        <p md-line> skype name </p>
      </md-list-item>-->
    </md-list>
  </md-card-content>
</md-card>
<md-card class="text-card">
  <md-card-title>Other profiles</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item>
        <i md-list-icon class="icon-linkedin"></i>
        <h4 md-line>LinkedIn</h4>
        <p md-line>
          <a md-button color="primary" href="https://www.linkedin.com/in/sebastian-schreck-050739131/" target="_blank">
            <md-icon>link</md-icon>
            OPEN PROFILE
          </a>
        </p>
      </md-list-item>
      <md-list-item>
        <i md-list-icon class="icon-xing"></i>
        <h4 md-line>Xing</h4>
        <p md-line>
          <a md-button color="primary" href="https://www.xing.com/profile/Sebastian_Schreck2?sc_o=mxb_p" target="_blank">
            <md-icon>link</md-icon>
            OPEN PROFILE
          </a>
        </p>
      </md-list-item>
      <md-list-item>
        <i md-list-icon class="icon-github"></i>
        <h4 md-line>GitHub</h4>
        <p md-line>
          <a md-button color="primary" href="https://github.com/StegSchreck/" target="_blank">
            <md-icon>link</md-icon>
            OPEN PROFILE
          </a>
        </p>
      </md-list-item>
      <md-list-item>
        <i md-list-icon class="icon-stackoverflow"></i>
        <h4 md-line>StackOverflow</h4>
        <p md-line>
          <a md-button color="primary" href="https://stackoverflow.com/users/story/6538600" target="_blank">
            <md-icon>link</md-icon>
            OPEN PROFILE
          </a>
        </p>
      </md-list-item>
     <!-- <md-list-item>
        <i md-list-icon class="icon-twitter"></i>
        <h4 md-line>Twitter</h4>
        <p md-line> @stegschreck </p>
      </md-list-item>-->
    </md-list>
  </md-card-content>
</md-card>
