.contact-info p {
  margin: unset;
}
.contact-info h4 {
  color: #888;
  margin: unset;
}

.contact-info mat-icon,
.contact-info i:before {
  color: black;
}
.contact-info i {
  font-size: 1.5em;
}

.web-profiles {
  margin-top: 25px;
}

a.profile-link {
  font-size: 1.2em;
}

a.profile-link:not(:last-child) {
  margin-right: 6px;
}

.link-icon {
  position: relative;
  margin-right: 0.2em;
}
.link-icon:before {
  color: unset;
}

.tag-icon {
  margin-left: -5px;
  font-size: 1.5em;
  padding-right: 5px;
  top: 3px;
  position: relative;
}
.tag-icon:before {
  color: unset;
}
