<mat-card class="page-title">
  <mat-card-title>
    <mat-icon>email</mat-icon>
    {{title}}
  </mat-card-title>
</mat-card>
<mat-card class="text-card">
  <mat-card-title>General</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.city !== undefined && contactItems.city !== ''">
        <mat-icon mat-list-icon>place</mat-icon>
        <h4 mat-line>{{contactItems.city}}</h4>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.mail !== undefined && contactItems.mail !== ''">
        <mat-icon mat-list-icon>email</mat-icon>
        <p mat-line>
          <a mat-button color="default" href="mailto:{{contactItems.mail}}">{{contactItems.mail}}</a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.phone !== undefined && contactItems.phone !== ''">
        <mat-icon mat-list-icon>phone</mat-icon>
        <h4 mat-line>Teléfono</h4>
        <p mat-line>{{contactItems.phone}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.skype !== undefined && contactItems.skype !== ''">
        <i mat-list-icon class="icon-skype"></i>
        <h4 mat-line>Skype</h4>
        <p mat-line>{{contactItems.skype}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<app-cv-download-card></app-cv-download-card>
<mat-card class="text-card">
  <mat-card-title>Otros perfiles en la web</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.linkedin !== undefined && contactItems.linkedin !== ''">
        <i mat-list-icon class="icon-linkedin"></i>
        <h4 mat-line>LinkedIn</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.linkedin}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.xing !== undefined && contactItems.xing !== ''">
        <i mat-list-icon class="icon-xing"></i>
        <h4 mat-line>Xing</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.xing}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.github !== undefined && contactItems.github !== ''">
        <i mat-list-icon class="icon-github"></i>
        <h4 mat-line>GitHub</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.github}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.stackoverflow !== undefined && contactItems.stackoverflow !== ''">
        <i mat-list-icon class="icon-stackoverflow"></i>
        <h4 mat-line>StackOverflow</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.stackoverflow}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.facebook !== undefined && contactItems.facebook !== ''">
        <i mat-list-icon class="icon-facebook2"></i>
        <h4 mat-line>Facebook</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.facebook}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.googleplus !== undefined && contactItems.googleplus !== ''">
        <i mat-list-icon class="icon-google-plus2"></i>
        <h4 mat-line>Google Plus</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.googleplus}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <mat-list-item *ngIf="contactItems !== undefined && contactItems.twitter !== undefined && contactItems.twitter !== ''">
        <i mat-list-icon class="icon-twitter"></i>
        <h4 mat-line>Twitter</h4>
        <p mat-line>
          <a mat-button color="primary" href="{{contactItems.twitter}}" target="_blank">
            <mat-icon>link</mat-icon>
            VER PERFIL
          </a>
        </p>
      </mat-list-item>
      <span *ngIf="contactItems !== undefined && contactItems.other !== undefined && contactItems.other !== [] && contactItems.other.length > 0">
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let item of contactItems.other">
          <mat-icon mat-list-icon>public</mat-icon>
          <h4 mat-line>{{item.title}}</h4>
          <p mat-line>
            <a mat-button color="primary" href="{{item.link}}" target="_blank">
              <mat-icon>link</mat-icon>
              VER PERFIL
            </a>
          </p>
        </mat-list-item>
      </span>
    </mat-list>
  </mat-card-content>
</mat-card>
