<mat-card class="page-title">
  <mat-card-title>
    <mat-icon>account_circle</mat-icon>
    {{title}}
  </mat-card-title>
</mat-card>
<mat-card class="text-card">
  <mat-card-header>
    <div mat-card-avatar class="overview-header-image" (click)="showAvatar()"></div>
    <mat-card-title>Acerca de mi</mat-card-title>
    <mat-card-subtitle *ngIf="generalData !== undefined && generalData.position !== undefined && generalData.position !== ''">
      {{generalData.position}}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/cover.jpg" alt="">
  <mat-card-content *ngIf="generalData !== undefined && generalData.description !== undefined && generalData.description !== ''">
    <p>
      {{generalData.description}}
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="text-card" *ngIf="interests !== undefined && interests !== [] && interests.length > 0">
  <mat-card-title>Hobbies e Intereses</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of interests">
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <h4 mat-line>{{item.title}}</h4>
        <p mat-line>{{item.subtitle}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<app-cv-download-card></app-cv-download-card>
