.overview-header-image {
  background-image: url('../../assets/img/avatar.jpg');
  background-size: cover;
  background-position: center;
}

.tag-icon {
  margin-left: -5px;
  padding-right: 5px;
}
i.tag-icon {
  font-size: 1.5em;
}
.tag-icon:before {
  color: unset;
}
