.overview-header-image {
  background-image: url('../../assets/img/avatar.jpeg');
  background-size: cover;
  background-position: center;
}

.tag-icon {
  margin-left: -5px;
  padding-right: 5px;
}
i.tag-icon {
  font-size: 1.5em;
  top: 3px;
  position: relative;
}
.tag-icon:before {
  color: unset;
}

.mat-mdc-chip-action-label {
  z-index: unset !important;
}

mat-card-content {
  text-align: justify;
}
