<md-card class="page-title">
  <md-card-title>
    <md-icon>account_circle</md-icon>
    {{title}}
  </md-card-title>
</md-card>
<md-card class="text-card">
  <md-card-header>
    <div md-card-avatar class="overview-header-image"></div>
    <md-card-title>About me</md-card-title>
    <md-card-subtitle>Software Engineer in Berlin</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/cover.jpg" alt="">
  <md-card-content>
    <p>
      This website shall give you an impression of me and encourage your interest in hiring me.
      Please navigate through the site in order to find out more.
    </p>
  </md-card-content>
</md-card>
<md-card class="text-card">
  <md-card-title>Hobbies and Interests</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item>
        <md-icon md-list-icon>rowing</md-icon>
        <h4 md-line>Rowing</h4>
        <p md-line> 2000 &mdash; 2015 </p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>camera_alt</md-icon>
        <h4 md-line>Photography</h4>
        <p md-line> Pentax K3 DSLR </p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>favorite</md-icon>
        <h4 md-line>Volunteering in sports</h4>
        <p md-line> 2005 &mdash; 2016 </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>
