nav {
  position: fixed;
  background-color: #fff;
  margin-bottom: 24px;
  top: 64px;
  min-width: 750px;
  width: 750px;
  max-width: 750px;
  z-index: 1000;
}
nav a.hover {
  text-decoration: none;
}
nav a.mat-tab-link {
  min-width: 75px;
  text-decoration: none;
}
nav md-icon {
  position: absolute;
  margin-top: -0.1em;
  margin-left: -0.1em;
  font-size: 2em;
  visibility: hidden;
}
nav a:hover md-icon,
nav a:active md-icon,
nav a[ng-reflect-active="true"] md-icon {
  visibility: visible;
}
nav a:hover span,
nav a:active span,
nav a[ng-reflect-active="true"] span {
  visibility: hidden;
}
