/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
h1 {
  color: #369;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  padding-top: 50px;
  background-color: #ccc;
  min-width: 900px;
  width: 900px;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia, serif;
}
a.hover {
  text-decoration: none;
}
/* everywhere else */
* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
