/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/icon-font/style.css";
body {
  margin: 2em auto;
  min-width: 800px;
  max-width: 800px;
  background-color: #303030 !important;
}
/* everywhere else */
* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
h1, h2, .header-title,
md-card md-card-title {
  font-size: 1.4em !important;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
}
