/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/icon-font/style.css";
body {
  margin: 0 auto;

  /* to be synced with body<->header<->footer style */
  min-width: 250px;
  /*width: 800px;*/
  max-width: 800px;

  background-color: #303030 !important;
  padding-bottom: 88px;
  padding-top: 88px;
}
@media screen and (max-width: 600px) {
  body {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .mat-dialog-container {
    padding: 16px !important;
  }
}
@media screen and (min-width: 800px) {
  body {
    padding-top: 136px;
  }
}

/* everywhere else */

span {
	color:black;
}

* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, .header-title,
mat-card mat-card-title {
  font-size: 1.4em !important;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
}
@media screen and (max-width: 600px) {
  .header-title {
    font-size: 1.2em !important;
  }
}
mat-card {
  margin-bottom: 1em;
}
@media screen and (max-width: 800px) {
  mat-card {
    margin-left: 6px;
    margin-right: 6px;
  }
}
@media screen and (max-width: 400px) {
  mat-card {
    padding: 12px !important;
  }
}
mat-card.page-title {
  background-color: #444;
  color: white;
  padding: 12px 60px 12px 24px;
}
mat-card.page-title mat-icon {
  position: absolute;
  font-size: 1.4em;
  top: 8px;
  right: 24px;
}

mat-chip {
  margin-bottom: 0.5em !important;
}


/***** LOADING ANIMATION *****/
div.loading-animation {
  background-color: #303030 !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
