name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 17.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install -g npm@latest @angular/cli
        npm ci
        ng lint
        ng test --watch false --browsers ChromeHeadless --code-coverage
        ng build --configuration production --aot
      env:
        CI: true
    - name: Codacy Coverage Reporter
      uses: codacy/codacy-coverage-reporter-action@v1.3.0
      with:
        api-token: ${{ secrets.CODACY_API_TOKEN }}
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Create Release
      if: success() && startsWith(github.ref, 'refs/tags/')
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: commits[0][message]
        draft: false
        prerelease: false

### UNCOMMENT THE FOLLOWING SECTION TO DEPLOY THE MASTER TO YOUR GITHUB USER PAGE ###
#
#  deploy:
#    needs: build
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#      - name: Use Node.js 16.x
#        uses: actions/setup-node@v3
#        with:
#          node-version: 16.x
#      - name: Build
#        run: |
#          npm install -g npm@latest @angular/cli
#          npm ci
#          ng build --configuration production --aot
#        env:
#          CI: true
#      - name: GitHub Pages Deploy
#        uses: crazy-max/ghaction-github-pages@v1.2.5
#        if: success() && github.ref == 'refs/heads/master'
#        with:
#          # GitHub repository where assets will be deployed (default current)
#          repo: StegSchreck/stegschreck.github.io
#          # Git branch where assets will be deployed
#          target_branch: master
#          # Create incremental commit instead of doing push force
#          keep_history: true
#          # Build directory to deploy
#          build_dir: dist
#          # Write the given domain name to the CNAME file
#          #fqdn: stegschreck.github.io
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
